input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
 
  -webkit-text-fill-color: inherit !important;
   -moz-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}
/*===========*/
body{
	background:#fff;
	display:grid; grid-template-columns:55% 45%;
	min-height:100vh;
	overflow-y: scroll;
}

.graphic{
	background:url('../../images/login-bg.png');
	background-repeat:no-repeat;
	background-position:top left;
}
.graphic .label{	
	position:absolute;
	bottom:40px; left:0px;
	width:100%; text-align:center;	
}
.graphic .label h1{
	background-image: -moz-linear-gradient( -50deg, rgb( 27, 70, 185 ) 0%, rgb( 17, 129, 95 ) 100%);
	background-image: -webkit-linear-gradient( -50deg, rgb( 27, 70, 185 ) 0%, rgb( 17, 129, 95 ) 100%);
	box-shadow: 0px 10px 13px 0px rgba(0, 84, 170, 0.19);
	padding:10px 25px;
	border-radius:10px;
	display:inline-block;
	font-size:36px; color:#fff;
}

/*========*/    
.userForm{}
.userForm .gradientBox{
	border-radius: 10px;
	background-image: -moz-linear-gradient( -50deg, rgb( 27, 70, 185 ) 0%, rgb( 17, 129, 95 ) 100%);
	background-image: -webkit-linear-gradient( -50deg, rgb( 27, 70, 185 ) 0%, rgb( 17, 129, 95 ) 100%);
	padding:40px 40px; text-align:center;
	margin-top:40px;
	margin-right:40px;
	margin-left:40px;
	min-height:calc(100vh - 80px);
}
.userForm .alert{text-align:center;}
.userForm h3{
	font-family: 'Montserrat', sans-serif;
	font-size:60px; font-weight:800; color:#fff; 
	margin-bottom:15px;
	text-shadow: 0px 13px 9px rgba(0, 0, 0, 0.08);
}
.userForm h3 span{color:#31f1b7;}

.userForm h4{
	font-size:20px;
	font-weight:500; 
	color: rgb( 255, 255, 255 );
	opacity: 0.58;
	letter-spacing:0.5px;
	padding: 15px 0px;
	margin-bottom:20px;
}

.userForm ul{
	background:#fff;
	border-radius:15px;
	box-shadow:0px 3px 31px 0px rgba(16, 56, 113, 0.09);
	overflow:hidden;
	margin:0% 0%;
}
.userForm ul li .validation{height:auto;}
.userForm ul li input[type="email"],
.userForm ul li input[type="password"],
.userForm ul li input[type="text"]{
	border-bottom:1px solid #f3f3f3;
	width:100%; 
	font-weight:400; font-size:17px; color:#5c718e;
	background:none;
	padding:18px 58px;
	letter-spacing:0.5px;
}
.userForm ul li input[type="email"]:focus,
.userForm ul li input[type="password"]:focus,
.userForm ul li input[type="text"]:focus{
	border-bottom-color:#2671ce;
}
.userForm ul li .validation{text-align:left; padding:0px 20px;}

.userForm ul li input[type="email"] {
	background:url('../../images/email-icon.png');
	background-repeat:no-repeat;
	background-size: 24px;
    background-position: 20px;
 }
.userForm ul li input[type="password"]{
	background:url('../../images/password-icon.png');
	background-repeat:no-repeat;
	background-size: 20px;
    background-position: 20px;
 }
 
 /*
.userForm .emailUsername{
	background:url('../../images/email-icon.png');
	background-repeat:no-repeat;
	background-size: 24px;
    background-position: 20px;
}

.userForm .passwordField{
	background:url('../../images/password-icon.png');
	background-repeat:no-repeat;
	background-size: 20px;
    background-position: 20px;
}
*/
/*========*/
.loginButtonPanel{padding:30px 20px;}
.loginButtonPanel:after{content:" "; display:block; clear:both;}
.loginButtonPanel .buttonLeft{float:left; font-size:13px; text-align:left;}
.loginButtonPanel .buttonLeft label{font-size:13px; margin-bottom:6px;}
.loginButtonPanel .buttonLeft a{color:#8679a5; text-decoration:underline;font-size:13px;font-weight:400;padding-top: 10px;}
.loginButtonPanel .submitBtn{float:right;}
	
/*========*/
.submitBtn .btn{
	background-image: -moz-linear-gradient( -50deg, rgb( 27, 70, 185 ) 0%, rgb( 17, 129, 95 ) 100%);
	background-image: -webkit-linear-gradient( -50deg, rgb( 27, 70, 185 ) 0%, rgb( 17, 129, 95 ) 100%);
	padding:10px 26px;
}

/*========*/
.privacyPolicy{text-align:right; padding:15px 0px;}
.privacyPolicy a{
	font-size:14px; font-weight:400;
	color:rgb( 255, 255, 255); opacity:0.7;
	letter-spacing:0.5px;	
	text-decoration:underline;
}

/* 
	===============================	
	FOR IPAD  1024
	===============================
*/
@media only screen and (max-width:1050px)
{
	
}

/* 
	===============================	
	FOR IPAD 768
	===============================	
*/
@media only screen and (max-width:980px)
{
	
}	

/* 
	===============================	
	For Mobile
	===============================	
*/
@media only screen and (max-width:767px){
	
	/*==============*/
	.accessSystem{display:block;}
	.userForm .gradientBox{margin:0px;}
	
	.gradientBox{min-height: 100vh; display:grid; align-items:center; overflow:hidden;}
	.userForm .gradientBox{min-height:100vh;}
}

/* 
	===============================	
	For Iphone 5
	===============================	
*/

@media only screen and (max-width:350px){
	.userForm h3{font-size:50px;}
	.submitBtn .btn{padding:6px 7px; font-size: 14px;}
	
}