@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
pre {	/* To word wrap the text in pre tag if that is very long */
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.wordWrap {word-wrap:break-word;}
/*
	======================
	Common
	======================
*/
.pageSearch .filed .inputLoader {
    position: absolute;
    top: 0px;
    right: 0px;
	width:100%;
	height:100%;
	background-color:rgb(255, 255, 255,  0.6);
	text-align:center;
	border-radius: 4px;
}
.pageSearch .filed .spinLoader.small {
    width: 18px;
    height: 18px;
    border-width: 4px;
	margin: 10px 0px;
}

/*
	======================
	navigationForm
	======================
*/
.navigationForm {display:grid; grid-template-columns:220px calc(97% - 220px); grid-column-gap:3%;}
.navigationForm  .navigation .tabs{
	border-radius:10px;
	box-shadow: 0px 0px 41px 0px rgb(0, 0, 0, 0.1);
	padding:0px 15px;
	position:sticky;
	top:25px;
	background:#fff;
}
.navigationForm  .navigation ul li a{
	display:block;
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:15px 15px 15px 0px;
	color:#616973;	
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.navigationForm  .navigation ul li a:after{
	font-family:"FontAwesome";
	content:"\f105";
	position:absolute;
	top:19px; right:2px;
	opacity:0.5;
}
..navigationForm .navigation ul li a:hover{color:#52b899;}
.navForm .card{
	border-radius:6px;
	box-shadow: 0px 0px 31px 0px rgb(0, 0, 0, 0.1);
	margin-bottom:20px;
	padding:15px 20px 15px
}
.navForm .card h2{
	font-size:25px; font-weight:600;
	color:#52b899;
}
.navForm .form li{ display: grid; grid-template-columns: 28% 72%;}
.navForm .card h2 strong{font-weight:400; color:#1f262f; font-size:22px; margin-left:5px;}
.navForm .card h2 span{font-size:18px;color:#1c1c1c;font-weight:500;padding-left: 8px;}

/*
	======================
	#Section = Side Menu
	======================
*/
.navMenu{
	background:#fff; 
	box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.1); 
	z-index:2;
	padding-bottom:120px;
}

/*=============*/
.navMenu .clientLogo{
	height:70px;  line-height:45px;
	overflow:hidden; 
	text-align:center; 
	border-bottom:1px solid rgba(0,0,0,0);
	padding:10px;
}
.navMenu .clientLogo img{vertical-align:middle;}
.navMenu .clientLogo .full{}
.navMenu .clientLogo .intial{display:none;}

/*=============*/
.navMenu .menuWrapper{padding-bottom:100px;}
.navMenu nav{margin:25px 10px 0px 10px;}
.navMenu nav li{position:relative; z-index:1;}
.navMenu nav li.sap{
	color:#25c192; text-transform:uppercase;
	margin:0px; padding:25px 0px 5px 13px;
	background:url("../../images/menu-sap.png");
	background-position:center;
	background-repeat:no-repeat;
	min-height:56px;
}
.navMenu nav li.sap h6{font-weight:500; font-size:14px; background:#fff; padding:2px 0px;}
.navMenu nav li a{display:block; padding:8px 0px 8px 50px; color:#7f7c92; font-weight:500;  min-height:38px;}
.navMenu nav li a span{transition: all 0.3s ease-out; display:block; white-space:nowrap;  overflow:hidden; text-overflow:ellipsis; padding-right:15px;}
.navMenu nav li a:hover{padding:8px 0px 8px 58px;}
.navMenu nav li a.active, .navMenu nav li a:hover{color:#246acc;}
.navMenu nav li a.active:after{opacity:1;}

.navMenu nav li a i{
	background:url('../../images/menu_icon_sprite.png');
	background-size:400px;
	background-repeat:no-repeat;
	background-position:-54px -2px;
	
	opacity:0.2px;	
	width:28px; height:28px;
	
	position:absolute;
	top:5px; left:12px;
	
}
.navMenu nav li a .dashboardIcon {background-position:-3px -1px;}
.navMenu nav li a .myProfileIcon {background-position: -54px -2px;}
.navMenu nav li a .logoutIcon {background-position: -82px -2px;}

/* Custom icon */
.navMenu .locationMaster{
	width: 14px;
	height: 14px;
	border: 2px solid red;
	border-radius: 50%;
	background-position: 0px;
	top: 12px; left:23px;
}

/*
=============
Custom Icon
=============
*/
.customIcon{
	width:22px!important; height:22px!important;
	background-size:22px!important;
	background-position:center!important;
	top:8px!important; left:16px!important;
}

/*=============*/
.dashboardBtn{
	border-radius: 7px;
	background-image: -moz-linear-gradient( -4deg, rgb(49,91,206) 0%, rgb(24,166,154) 100%);
	background-image: -webkit-linear-gradient( -4deg, rgb(49,91,206) 0%, rgb(24,166,154) 100%);
	background-image: -ms-linear-gradient( -4deg, rgb(49,91,206) 0%, rgb(24,166,154) 100%);
	box-shadow: 0px 4px 8px 0px rgba(12, 46, 138, 0.27);
	font-weight:600;
	color:#fff!important;
	padding:15px 15px 15px 55px!important;
	margin-bottom:10px;
	min-height:52px!important;
}
.dashboardBtn i{top:12px!important;}
.dashboardBtn:after{top:17px!important; right:14px!important;}

/*=============*/
.menuFooter{
	text-align:center; font-size:12px; color:#acacac;
	background:url('../../images/menu_left_graphic.png') no-repeat;
	background-position:bottom left;
	padding:18px 0px;
	
	position:absolute;
	bottom:0px; left:0px;
	width:100%;
}
.menuFooter:after{
	content:" "; display:inline-block;
	position:absolute; 
	top:0px; right:0px;
	width:100%; height:100%;
	background:url('../../images/menu_right_graphic.png') no-repeat;
	background-position:bottom right;
}
.menuFooter p{padding-bottom:10px;}
.menuFooter img{vertical-align:top;}
.menuFooter .full{}
.menuFooter .initial{display:none;}

/* === collapse */
.collapseMenu{grid-template-columns: 80px calc(100% - 80px);}
.collapse ul li a span{display:none;}
.collapse ul li a:after{display:none;}

.collapse #full{display:none;}
.collapse #intial{display:inline-block!important;}

.collapse .dashboardBtn{padding-left:0px!important;}
.collapse .sap h6{display:none;}
.collapse .menuFooter .full{display: none;}
.collapse .menuFooter .initial{display:inline-block!important;}
.collapse .menuFooter p{font-size:10px; color:#797979;}
.collapse .menuFooter img{max-width:80%;}
.collapse .menuFooter p, .collapse .menuFooter img{z-index:2;}

/* === collapse Hover */
.collapse ul li a:hover span{display:block!important;}
.collapse ul li a span{
	position: absolute;
	background:rgba(0,0,0,0.9);
	color:#fff;
	top:6px; right:-130px;
	width:130px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 11px;
}
/* === Menu Sub Menu */
.navMenu nav li ul{
	padding:10px 0px;
	position:absolute;
	top:0px; right:-220px;
	width:220px;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
	-webkit-transition: all 350ms ease;  
	-moz-transition:all 350ms ease;
	transition: all 350ms ease;
	opacity:0;
	-webkit-transform: translate3d(0,20%,0) scale(0,0);
	-moz-transform: translate3d(0,20%,0) scale(0,0);
	transform: translate3d(0,20%,0) scale(0,0);		
}
.navMenu nav li:hover ul{
	display:block!important;
	opacity:1;
	-webkit-transform: translate3d(0,0,0) scale(1,1);
	-moz-transform: translate3d(0,0,0) scale(1,1);
	transform: translate3d(0,0,0) scale(1,1);
}
.navMenu nav li:hover ul a{color: #62627a;}
.navMenu nav li:hover ul a:hover{color: #635ebe;}



/*
	======================
	#Section = Footer Main
	======================
*/
.footerMain{
	border-top:2px solid rgba(0,0,0,0.05);
	font-size:12px; line-height:18px;
	padding:10px 20px; color:#8d8d8d;
	margin-top:15px;
	position: absolute;
	width:100%;
	bottom:0px; left:0px;
}
.footerMain p{margin-bottom:0px;}
.footerMain span{
	position: absolute;
	bottom:10px; right:20px;
}

/*
	======================
	#Section = Page Title
	======================
*/
.pageTitle {
	background:#fff;
	box-shadow:5px 0px 13px 0px rgba(0, 0, 0, 0.06);
	height:70px;
	z-index:1;
	padding:5px 210px 5px 60px;	
}
.pageTitle .wrapper{margin:0px;}
.pageTitle:after {content:" "; display:block; clear:both;}
.pageTitle h1 {
	font-size:21px;
	font-weight:500;
	color:#2d2945;
	padding:0px 0px 0px 10px;
	display:inline-block;
	line-height:53px;
	letter-spacing: 0.4px;
}
.pageTitle input[type="button"], .pageTitle a{float:right;}
.pageTitle a.back{margin-top:16px;}
.pageTitle a.addBtn{margin-top:10px; margin-left:15px;}
.pageTitle a.editBtn{margin-top:10px; margin-left:15px;}

.pageTitle .addBtn{
	background:#38d5a6;
	font-family:'Poppins', 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:600;
	color:#fff;
	padding:6px 15px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.13);
	margin-top:0px;
	border-radius:5px;
	cursor:pointer;
}
.pageTitle .addBtn:hover{}
.pageTitle a.print { background:#f26539; box-shadow:0px 5px 6px 0px rgba(242, 101, 57, 0.24);}
.pageTitle a.print i{margin-right:10px; background:#f26539;}

.link {
	background:#fff;
	font-family:'Poppins', 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;
	letter-spacing:0.5px;
	color:#0ab7c5;
	padding:6px 15px;
	box-shadow:0px 5px 6px 0px rgba(5, 98, 105, 0.13);
	margin-top:0px;
	border-radius:5px;
}
.link:hover{box-shadow:0px 5px 10px 0px rgba(5, 98, 105, 0.23);}

/* === Menu Icon */
.menuIcon {
	width:35px; height:35px; line-height:7px; text-align:right;
	position:absolute;
	top:17px; left:15px; z-index:20;
}
.menuIcon span{height:3px; background:#50d8af; border-radius:45px; transition: all 0.3s ease-out;}
.menuIcon span:nth-child(1){width:16px;}
.menuIcon span:nth-child(2){width:22px;}
.menuIcon span:nth-child(3){width:18px;}
.menuIcon:hover span{width:22px!important;}


/* === loggedInUser*/
.loggedInUser {
	height:52px;
	padding:0px 65px 0px 15px;	
	font-weight:600;
	font-size:20px;
	color:#464646;
	position:absolute;
	top:8px; right:0px; z-index:10;
	border-left:1px solid rgba(0, 0, 0, 0.05);
	text-align:right;
	max-width:190px;
}
.loggedInUser label, .loggedInUser strong{display:block; font-size:14px; }
.loggedInUser label{
	font-weight:500; color:#3a5070; padding-top:8px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.loggedInUser strong{font-size:11px; color:#828c9a; font-weight:400;}
.loggedInUser span{
	width:40px; height:40px; 
	border-radius:100%; 
	overflow:hidden;
	position:absolute;
	top:5px; right:15px;
}
.loggedInUser span img{object-fit:cover; width:100%; height:100%;}


/*
	======================
	#Section = Page Search
	======================
*/
.pageSearch{
	padding:0px 100px 25px 0px;
	font-size:14px;
	position:relative;
	margin:0px;
	box-sizing:border-box;
	display:grid;	
} 
.pageSearch:after{ content:" ";	clear:both;	display:block; }
.pageSearch span{vertical-align:top;}
.pageSearch input[type="text"], .pageSearch select{
	border:1px solid #e7e7e7;
	border-radius:4px;
	padding:8px 12px;
	width:100%; min-height:44px;
}

/* ==== */
.pageSearch .radioWithLabel{
	border:1px solid #e7e7e7;
	border-radius:4px;
	background:#fff;
	min-height:44px;
	padding:10px;
}
.pageSearch .radioWithLabel label{display:inline-block; margin:0px 8px; vertical-align:top;}
.pageSearch .radioWithLabel .radioBtn .checkmark{top:3px;}
.pageSearch .radioWithLabel label:last-child{margin-right:0px;}

/*=============*/
.pageSearch.withLabel .lbl{font-size:14px; font-weight:500; padding-bottom:5px;}
.pageSearch.withLabel .searchBtn{top:28px;}
.pageSearch.withLabel .clearBtn{top:34px;}

/*=============*/
.pageSearch .searchBtn{
	display:inline-block;
	position:absolute;
	top:0px; right:45px;
	overflow:hidden;
	cursor:pointer;
}
.pageSearch .searchBtn input{
	background-color:#425381; padding:10px 22px; border-radius:4px;
	background: url('../../images/search-icon.png') no-repeat;
	background-color:#425381;
	background-position: center;
}

.pageSearch .searchBtn input:hover{background-color:#313b44;}
.pageSearch .searchBtn .searchLoader{
	/*background:#485560;*/
	position:absolute;
	top:0px; left:0px; z-index:1;
	width:100%; height:100%;
	text-align:center;
	cursor:wait; border-radius:4px;
}
.pageSearch .searchBtn .searchLoader span.spinLoader{
	width:25px; height:25px;
	position: relative; top:7px;
	border-color:#1e2f3e;
	border-top-color:#fff;
	/*background: url('images/search-icon.png') no-repeat;*/
}

/* =========== */
.pageSearch .clearBtn{
	display:inline-block;
	position:absolute;
	top:6px; right:-28px;
	overflow:hidden;
	cursor:pointer;
}
.pageSearch .clearBtn input{background:none; cursor:pointer; color:#2877d0; text-decoration:underline;}

/*
	================================
	#Section = Page Search For Mobile
	================================
*/
.searchForMobile{
	background:#fff; 
	margin-left:-15px; 
	margin-right:-15px; 
	margin-top:-15px;
	box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.05);
	margin-bottom:20px;
}
.searchForMobile a{padding:15px; font-size:15px; font-weight:500; color:#999; display:block;}
.searchForMobile a:before{
	font-family:"fontawesome";
	content:"\f002"; color:#246acc;
	margin-right:15px; font-size:18px;
}


.searchForMobileHeader {
	background-image: -moz-linear-gradient( -4deg, rgb(49,91,206) 0%, rgb(24,166,154) 100%);
	background-image: -webkit-linear-gradient( -4deg, rgb(49,91,206) 0%, rgb(24,166,154) 100%);
	background-image: -ms-linear-gradient( -4deg, rgb(49,91,206) 0%, rgb(24,166,154) 100%);
	box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.11);
	color:#fff;
	padding:0px;
	margin-left:-15px; margin-right:-15px;
	margin-top:-15px;
	height:70px; color:#fff; text-align:center;
	margin-bottom:20px;
}
.searchForMobileHeader h2{height:70px; line-height:70px; font-size:18px; font-weight:500;}
.searchForMobileHeader .back{
	position:absolute;
	top:0px; left:0px; z-index:5;
	width:50px; height:70px;
	border-radius:0px;
	background-image:url('../../images/nav_back.png');
	background-size:48px; background-repeat:no-repeat;
	background-position:center;
	background-color:rgba(0,0,0,0.05);
}/*
.Collection .pageSearch .activeView{display:block;}

 === Action Icon*/
.actionIconLink  i{
	width:22px;
	height:22px;
	background-image:url('../../images/action-sprite.png');
	background-repeat: no-repeat;
}
.actionIconLink .changeStatus i{
	background-position:-2px 0px;
}
.actionIconLink  .edit i{
	width:40px;
	height:20px;
	background-repeat: no-repeat;
	background-position-x:left -50px;
}
.actionIconLink  .delete i{
	width:40px;
	height:20px;
	background-repeat: no-repeat;
	background-position-x:right -15px;
}

/*
	======================
	dashboard.php
	======================
*/
.pageDashboard .pageTitle{
	background-image: -moz-linear-gradient( 0deg, rgb(59,93,186) 0%, rgb(40,170,131) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(59,93,186) 0%, rgb(40,170,131) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(59,93,186) 0%, rgb(40,170,131) 100%);
	box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.11);
	color:#fff;
}
.pageDashboard .pageTitle h1{color:#fff;}
.pageDashboard .menuIcon span{background:#fff;}
.pageDashboard .loggedInUser{border-color:rgba(255,255,255,0.1);}
.pageDashboard .loggedInUser label{color:#fff;}
.pageDashboard .loggedInUser strong{color:#e6eaf0;}

/*=============*/
.gradientBarChart{
	background-image: -moz-linear-gradient( 0deg, rgb(59,93,186) 0%, rgb(40,170,131) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(59,93,186) 0%, rgb(40,170,131) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(59,93,186) 0%, rgb(40,170,131) 100%);
	margin-top:-30px;
	margin-left:-30px;
	margin-right:-30px;
	padding:35px 30px 45px 30px;
	color:#fff;
	min-height:385px;
	background-image
}
.gradientBarChart:after{
	content:" ";
	position:absolute;
	bottom:-25px; left:0px;
	width:100%; height:100%;
	text-align:center;
	background:url('../../images/curve.png') no-repeat;
	background-position:bottom;
	background-position-x:left;
}
.gradientBarChart label{font-size:14px;font-weight:500;text-align:right;padding-bottom: 12px;}
.dashboardStats {
	display: grid;
	grid-template-columns: 22% 22% 22% 22%;
	grid-column-gap:4%;
	margin-top:-40px;
	z-index:1;
}
.dashboardStats li {
	display:grid;
	grid-template-columns:40% 60%;
}
.dashboardStatsIcon {
	width:56px;
	height:56px;
	background-color: red;
	border-radius: 45px;
	text-align:center;
}
.dashboardStatsIcon img{
	padding:12px 4px 0px 4px;
}
.dashboardStats label{
	display: block;
	font-size:14px;
	font-weight:500;
}
.dashboardStats span{
	font-size:40px;
	font-weight:400;
	color:#3b394f;
	line-height:1;
}
.dashboardTable h2 {
	color:#434b55;
	font-size:16px;
	font-weight:600;
	text-align:left;
	padding: 10px 0px 18px 0px;
}


/*

	========================
	#Page:error.php
	========================
*/
.errorPage {
	margin:2% 10% 8%;
	background:#fff;
	padding:25px;
	box-shadow:0px 3px 38px 0px rgba(0, 0, 0, 0.05);
	border-radius:15px;
}
.errorPage .errorContent {width:40%; float:left; padding-top:9%; left:8%;}
.errorPage .errorIco {width:45%; float:right; right:2%;}
.errorPage .errorIco img {vertical-align:top; max-width:100%;}
.errorPage .errorContent h2 {font-weight:400; font-size:60px; color:#081f35; line-height:60px;}
.errorPage .errorContent h1 {font-size:18px; color:#8e8e8e; font-weight:400;}
.errorPage .errorContent p {font-size:18px; color:#000; font-weight:400; padding-bottom:10px;}
.errorPage .errorContent a {box-shadow:0px 4px 8px 0px rgba(39, 116, 207, 0.4);}

.pageError .footerMain{position: relative;}
.pageError .clientLogo{float:left; margin-top:10px;}
.pageError .pageTitle{padding-left:15px;}




/*
	========================
	#widget: viewData
	========================
*/
.viewData li{
    display: grid;
    grid-template-columns:200px calc(100% - 200px);
	border-bottom:1px solid rgba(0,0,0,0.1);
    font-weight:400;
	font-size:14px;
	font-family:poppins;
}
.viewData{border: 1px solid rgba(0,0,0,0.1); width: 90%;}
.viewData li label, .viewData li span{
	font-weight:400;
	font-size:14px;
	font-family:poppins;
    padding: 10px 15px;
	color:#000;
}
.viewData li label{border-right:1px solid rgba(0,0,0,0.1);}
.viewData li span a{
	font-size:12px;
	font-weight:400;
	font-family:poppins;
	margin-left:20px;
	color:#52b899;
	text-decoration:underline
}
