.lock{
    overflow: hidden;
	/*position:fixed;
	top:0px; left:0px;
	width:100%; height:100%;*/
}
.activeView{
	-webkit-transform: translate3d(0,0,0)!important;
	-moz-transform: translate3d(0,0,0)!important;
	transform: translate3d(0,0,0)!important;
}

.slideView{display:none;}

/* 
	===============================	
	FOR IPAD  1024
	===============================
*/
@media only screen and (max-width:1050px)
{
	body{border:0px;}
	
	main{display:block;}
	.navMenu{
		display:block;
		position:fixed;
		top:0px; left:0px; z-index:20005;
		width:270px; height:100%;
		border-top:5px solid #2368cb;
		background-size: contain;
		background-color:#ffffff;
		-webkit-transform: translate3d(-105%,0,0);
		-moz-transform: translate3d(-105%,0,0);
		transform: translate3d(-105%,0,0);
		
		overflow:hidden;
		overflow-y:scroll;
		-webkit-overflow-scrolling: touch;
		
		-webkit-transition: -webkit-transform 350ms ease;
		-moz-transition: -moz-transform 350ms ease;
		transition: transform 350ms ease;		
	}
	.menuFooter{position:relative;}
	.navMenu{padding-bottom:0px;}
	.navMenu .menuWrapper{padding-bottom:0px;}
	
	/* ======= */
	.loggedInUser{
		position:relative; color:#000; text-align:left;
		padding:0px 0px 0px 50px;
		margin:0px 15px; border:none; max-width:none!important;
	}
	.pageDashboard .loggedInUser label{color:#000; padding-top:6px!important;}
	.pageDashboard .loggedInUser strong{color:#9a9b9b;}
	.loggedInUser span{right:auto; left:0px;}
	
	
	/* ======= */
	.pageTitle{padding:5px 10px 5px 60px; border-top:5px solid #2368cb; z-index:10;}
	.pageTitle{
		position: -webkit-sticky;
		position: -moz-sticky;
		position: -o-sticky;
		position: -ms-sticky;
		position: sticky;
		top:0px; left:0px;
	}
	.pageTitle h1{font-size:18px;}
	.menuIcon{position:fixed; top:19px;}
	
	/* ======= */
	.contentWrapper{padding-bottom:0px;}
	.footerMain{position:relative; margin-top:25px}
	.pageContent{min-height:calc(100vh - 150px);}
	
	
	
	/* ===== */
	.pageError .cardBox{margin:2% 0% 8%;}
	
}

/* 
	===============================	
	FOR IPAD 768
	===============================	
*/
@media only screen and (max-width:980px)
{	
	
}

/* 
	===============================	
	For Mobile
	===============================	
*/
@media only screen and (max-width:767px)
{
    
	/* ======= */
	.pageTitle{
		border:0px;
		background-image: -moz-linear-gradient( -4deg, rgb(49,91,206) 0%, rgb(24,166,154) 100%);
		background-image: -webkit-linear-gradient( -4deg, rgb(49,91,206) 0%, rgb(24,166,154) 100%);
		background-image: -ms-linear-gradient( -4deg, rgb(49,91,206) 0%, rgb(24,166,154) 100%);
		box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.11);
		color:#fff;
		padding:0px;
	}
	.pageTitle .addBtn{}
	.menuIcon{
		top:0px; left:0px;
		width:50px; height:70px;
		border-radius:0px;
		background-color:rgba(0,0,0,0.05);
		background-size:18px;
		padding: 20px 10px;
	}
	.menuIcon span:nth-child(1){width:16px;}
	.menuIcon span:nth-child(2){width:25px;}
	.menuIcon span:nth-child(3){width:18px;}
	.menuIcon:hover span{width:25px!important;}
	.pageTitle h1{
		padding:0px 60px; 
		line-height:70px; height:70px; 
		float:none; width:100%; text-align:center;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		color:#fff;
	}
	
	/* =========== */
	.noMenu .menuIcon{display:none;}
	.navMenu{width:90%; max-width:320px;}
	.pageTitle a{float:left;}
	.pageTitle .addBtn{
		border-radius:0px;
		background-image:url('../../images/add_icon.png');
		background-size:20px; background-repeat:no-repeat;
		background-position:center;
		background-color:rgba(0,0,0,0.05);
		text-indent:-500px;
		width:50px; height:70px;
		padding:0px; margin:0px!important;
		box-shadow:none;
		position:fixed; top:0px; right:0px;
		overflow:hidden;
		z-index:1;
	}
	.addBtn.edit{background-image:url('../../images/edit_icon.png');}
	.pageTitle .back{
		background-image:url('../../images/nav_back.png');
		background-size:48px; background-repeat:no-repeat;
		background-position:center;
		background-color:rgba(0,0,0,0.05);
		text-indent:-500px;
		width:50px; height:70px;
		padding:0px; margin:0px!important;
		box-shadow:none;
		position:fixed; top:0px; left:0px;
	}
	
	.pageTitle span{display:none;}
	/* ======= */
	.pageContent{padding:15px;}
	.pageSearch{		
		position:fixed;
		top:0px; left:0px; z-index:20005;
		width:100%!important; height:100%!important;
		display:block; padding:15px;
		
		background-size: contain;
		background-color:#ffffff;
		
		-webkit-transform: translate3d(105%,0,0);
		-moz-transform: translate3d(105%,0,0);
		transform: translate3d(105%,0,0);
		
		overflow:hidden;
		overflow-y:scroll;
		-webkit-overflow-scrolling: touch;
		
		-webkit-transition: -webkit-transform 350ms ease;
		-moz-transition: -moz-transform 350ms ease;
		transition: transform 350ms ease;	
	}
	.pageSearch input[type="text"], .pageSearch select{padding:12px!important;}
	.pageSearch input[type="text"]:focus, .pageSearch select:focus{border-color:#297cd3!important;}
	.pageSearch .filed{display:block; margin-bottom:25px;}
	.pageSearch .searchBtn{
		position:fixed!important; 
		width:100%; height:55px;
		top:auto!important; right:auto!important; bottom:0px; left:0px; z-index:10;
	}
	.pageSearch .searchBtn .searchLoader{width:100%;}	
	.pageSearch .searchBtn input{width:100%; height:55px; border-radius:0px;}	
	.pageSearch .clearBtn{
		position:fixed!important; 
		top:10px; right:10px; 
		padding-top:15px; 
		text-align:center;
	}
	.pageSearch .clearBtn input{color:#fff}
	.Collection .pageSearch {display:block;}
	.collection .pageSearch .searchBtn{bottom:0px!important;}
	
	/* ===== */
	.pageError .pageTitle{text-align:center;}
	.pageError .clientLogo{float:none; margin:0px;}
	.pageError .clientLogo a{float:none; margin-top:15px;}
	
	/* ===== */
	.tableListing td, table.dataTable td{vertical-align:middle;}
	.splitAction .inlineActonLink .makePayment{left:0px!important;}
	.splitAction div:first-child {border-right:none;}
	/*.btn-group .btn {display: none;}*/
	.btn-group .dropdown{all:unset;}
	
	/* ===== */
	.unauthorizedAccess{padding:15px;}
	.unauthorizedAccess h3{font-size:24px; line-height:30px; margin-bottom:20px;}
	.unauthorizedAccess .text{display:block;}
	.unauthorizedAccess .img img{max-width:100px;}
	.unauthorizedAccess p{font-size:15px; line-height:23px;}
	
	/* ===== */
	.underMaintenance{display:block; padding:15px;}
	.underMaintenance .text{padding:0px 0px 25px;}
	.underMaintenance .text h2{font-size:24px; line-height:30px; margin-bottom:20px;}
	.underMaintenance .text h3{font-size:15px; margin-bottom:10px; line-height:30px;}
	.underMaintenance .text p{font-size:15px;}
	.underMaintenance .graphic{background:#f4f7fc; padding:10px; margin-bottom:15px;}
	.underMaintenance .graphic img{max-width:100%;}
	
	/* ===== */
	.contentWrapper .loggedInUser{display:none;}
	
	/* ===== */
	.form li{display:block;}
	.form li .lbl{padding:0px 0px 5px;}
	.form li .lbl span{top:3px;}
	.inputLoaderWrapper, .input {width:100%!important;}
	.inputLoaderWrapper .inputLoader{right:0px; top:-25px;}
	.inputLoaderWrapper .inputLoader .spinLoader{width:17px; height:17px; border-width:3px;}
	.navForm .form li{display:block;}
	#input:first-child {margin-bottom: 15px;}
	.importBtn{display:none;}
	#addCollectionForm .form li{display: block!important;}

	/* ===== */
	#txtFirstName {margin-bottom: 20px;}
	.addressSameAsBox{margin-left:0px!important;}
	.horizontalField label{}
	.horizontalField label {margin-right: 36px;width:100%; }
	.inputLoader span{display:none!important;}
	.addLeftTab{display:block;}
	.split{display:block!important;}
	.dateSelections, .multiSuggestion, .passwordField {width:100%!important;}
	.uploadProfilePic{display:block!important;}
	.submitBtn{max-width: 180px!important;display: block!important;margin:auto!important;}
	.form.gps{display:block!important;}
	.uploadProfilePic p{text-align:left;}
	#collectionDetails li {width:100%; display:block;}
	.gps span{display:block!important; width:100%!important;margin-bottom: 10px;}
	.gps span input{width:auto;}
	.navigation{
		position: fixed;
		top:0px; right: 0px;
		z-index: 20005;
		width: 270px;
		height: 100%;
		/*border-top: 5px solid #2368cb;*/
		background-size: contain;
		background-color: #ffffff;
		-webkit-transform: translate3d(105%,0,0);
		-moz-transform: translate3d(105%,0,0);
		transform: translate3d(105%,0,0);
		overflow: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		-webkit-transition: -webkit-transform 350ms ease;
		-moz-transition: -moz-transform 350ms ease;
		transition: transform 350ms ease;
	}
	.navigationForm .navigation .tabs {top:0px;}
	
	.selectedNavTabForDevice{
		margin-bottom:25px; display:block;
		position:sticky;
		top:80px; z-index:10;
	}
	.selectedNavTabForDevice a{
		background:#fff; border-radius:10px; color:#000;
		box-shadow:0px 0px 21px 0px rgb(0, 0, 0, 0.1);
		display:block;
		padding:15px 40px 15px 20px;
		white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	}
	.selectedNavTabForDevice a span{font-weight:500;}
	.selectedNavTabForDevice a i{
		position:absolute; 
		top:20px; right:15px; 
		font-size:12px; color:#2e8cd8;
	}
		
	/*====*/
	.overlay {
		background: rgba(1,3,23,0.8);
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 100;
		width: 100%;
		height: 110%;
	}
	.selectedNavTabForDevice{
		margin-bottom:25px; display:block;
		position:sticky;
		top:80px; z-index:10;
	}
	.selectedNavTabForDevice a{
		background:#fff; border-radius:10px; color:#000;
		box-shadow:0px 0px 21px 0px rgb(0, 0, 0, 0.1);
		display:block;
		padding:15px 40px 15px 20px;
		white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	}
	.selectedNavTabForDevice a span{font-weight:500;}
	.selectedNavTabForDevice a i{
		position:absolute; 
		top:20px; right:15px; 
		font-size:12px; color:#2e8cd8;
	}
	
	/* ===== */
	.quickInfo h2{font-size: 14px;}
	.quickInfo span a, p{font-size:12px;padding: 5px 8px;}
	.quickInfo p {text-align:left;margin-left: -8px;}
	.button .blue .border{margin-left:0px;}

	/* ========== */
	.importMerchant .importFile .dropArea{display:block;}
	.importMerchant .importFile .dropArea .elementMob{display:none;}
	.wrapImportFile , .importFileSuccessPreview{display:block;margin: 18px 0px;}
	.importFile{margin-bottom:20px;}
	.downloadSampleFile , .viewData {margin:auto;}
	.viewData li span a{margin-left:0px;}
	.importFileSuccessPreview h4 , p {text-align:center;}
	.text{ padding-bottom: 25px;}
	.viewTasks a{display:none;}
	.DailyCollection a{display:none;}
	
	/* =============== */
		/*.pageTitle .btn-group .btn {
		border-radius:0px;
		background: url("../../images/action_more_active.png") no-repeat;
		background-size:45px;background-repeat:no-repeat;
		background-position:center;
		background-color:rgba(0,0,0,0.05);
		text-indent:-500px;
		width:50px; height:70px;
		padding:0px; margin:0px!important;
		box-shadow:none;
		position:fixed; top:0px; right:0px;
		overflow:hidden;
		z-index:1;
	}*/
	
	.actionMultiOption {display:block;}
	.actionMultiOption .btn {
		border-radius:0px;
		background: url("../../images/action_more_active.png") no-repeat;
		background-size:45px;background-repeat:no-repeat;
		background-position:center;
		background-color:rgba(0,0,0,0.05);
		text-indent:-500px;
		width:50px; height:70px;
		padding:0px; margin:0px!important;
		box-shadow:none;
		position:fixed; top:0px; right:0px;
		overflow:hidden;
		z-index:1;
	}
	/*
	.actionMultiOption .btn:after {
	  font-family: "FontAwesome";
	  content:"\f0dd";
	  display:inline-block;
	  position:relative;
	  top:12px; right:-10px;
	  width:20px; height:20px;
	  font-size:18px;
	  opacity:0;
	  color:#2e8cd8;
	}
	*/
	.actionMultiOption .dropdown {
	  background:#fff;
	  border:1px solid rgba(0, 0, 0, 0.15);
	  border-radius:5px;
	  position:absolute;
	  top:5px; right:14px; z-index:1;
	  opacity:0;
	  overflow:hidden;
	  transform:scale(1, 0);
	  transform-origin:top center;
	  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.2);
	  width:160px!important;
	  transition: all 0.3s ease-out;
	}
	.actionMultiOption .dropdown a {
	  padding: 10px 17px 10px 17px;
	  display: block;
	  border-top: 1px solid rgba(0, 0, 0, 0.05);
	  border-bottom:none;
	  color: #646e7c;
	  font-weight: 500;
	}
	.actionMultiOption .dropdown a i {
	  width:25px; height:25px;
	  position:absolute;
	  top:3px; left:5px;
	  text-align: center;
	  line-height:25px;
	}
	.actionMultiOption .dropdown a:hover{background:#f9f9f9;}
	
	.actionMultiOption .btn {
		border-radius:0px;
		background: url("../../images/action_more_active.png") no-repeat;
		background-size:45px;
		background-color:rgba(0,0,0,0.05);
		width:50px; height:70px;
		padding:0px; margin:0px!important;
		background-position:center;
	}
	.actionMultiOption:hover .btn:after{opacity:0;}
	.actionMultiOption:hover .dropdown{height: auto; opacity: 1; transform: scale(1, 1);}
	.actionMultiOption:hover .dropdown:after{opacity:0;}
	
	.pageContent .inlineInfo ul li:first-child{width:100%; padding: 15px 25px 5px;}
	.pageContent .inlineInfo li:nth-child(1) label{display:none;}
	.pageContent .inlineInfo li:nth-child(1) span{
		display: block;
		font-size: 20px;
		font-weight: 600;
	}
	/*.inlineInfo li:nth-child(2) {width:100%; padding:0px 40px; border-bottom:1px solid #e7e7e7;}*/
	.pageContent .inlineInfo li:nth-child(2) label{display:none;}
	.pageContent .inlineInfo li:nth-child(3) {width:60%;}
	
	.pageContent .inlineInfo ul li:nth-child(2){width:100%; padding:0px 25px 15px;border-bottom:1px solid #e7e7e7;}
	.pageContent .inlineInfo ul li:last-child {
		border-right: none;
		padding: 15px 35px;
		text-align:center;
	}
	.timeline ul li p{
		text-align:left;
		padding: 0px;
	}
	.viewCard li{display:block;}
	.viewData li label {display:block; border:none; padding:8px 14px 0px;}
	
	.additionalInfo .modelContent{padding:8px;height:calc(100vh - -60px); }
	.additionalInfo .model .modelWrapper{width:100%; margin: 0px; }
	.additionalInfo .scroll{display:none;}
	.modelWrapper h4{text-align:center;}
	#dropdown{display:none;}
	
}


/*
	============
	For iphone 5
	============
*/
@media only screen and (max-width:350px){
	.pageContent .inlineInfo li:nth-child(3) {width: 55%;}
	.pageContent .inlineInfo ul li:last-child {padding: 15px 30px;}
	.additionalInfo .model .modelWrapper{width:320px; height: 100vh; margin: 0px; }
}