@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
 
/* 
	=================================
	=================================
	DEFAULT CSS
	=================================
	=================================
	font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', 'Open Sans', sans-serif;
*/
*{
	box-sizing:border-box;
	position:relative;
	text-rendering: optimizeLegibility;
}
body{
	margin:0px auto;
	padding:0px;
    font-family: 'Poppins', 'Open Sans', sans-serif;
	font-size:14px; letter-spacing:0.3px;
	color:#1c1c1c;
	overflow:hidden;
	overflow-y:scroll;
	background:#fff;
	direction:ltr;
	border-top:0px solid #2368cb;
	display:grid;
	
	grid-template-columns:45% 55%;
	height:100vh;
	overflow:hidden;
}

.text{
	padding:35px 65px;
	display:flex;
	align-items:center;
}
.text img{max-width:80%;}
.text h2{
	font-size:39px;
	display:block;
	color:#4e4e6a;
	line-height:45px;
	margin:20px 0px 25px;
}
.text p{
	margin:0px; font-size:18px; 
	letter-spacing:0.5px; line-height:29px;
	color:#7d7d7d;	
}

.graphic{
	background: url(../../images/under-maintenance-background.png);
    padding: 30px 150px;
    background-size: cover;
    background-repeat: no-repeat;
	text-align:center;
}
.graphic img{
	max-width:80%;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 65%;
	transform: translate(-40%, -50%);
}

.footerMain{
	margin-top:65px;
}
.footerMain p{font-size:13px!important; line-height:normal!important; margin-bottom:10px;}
.footerMain span{display:none;}

/* 
	===============================		
	===============================	
*/
@media only screen and (max-width:1170px)
{
	.text{
		padding:25px 25px;
	}
	.text h2{
		font-size:29px;
		line-height:35px;
	}
	.text p{
		 font-size:15px; 
	}
}

/* 
	===============================	
	For Mobile
	===============================	
*/
@media only screen and (max-width:1024px)
{
	body{display:block; height:auto; overflow:auto; text-align:center; padding:25px;}
	.text{padding:0px;}
	.text img{max-width:250px;}
	
	.graphic{background:none;}
	.graphic img{position:relative; top:auto; left:auto; transform:none;}
}