.widget .card h2{color:#000; padding-bottom:0px;}
.widget .card p{padding-bottom:30px; color:#555}
.form li{grid-template-columns:250px calc(100% - 250px)!important;}

/* 
	=============
	Alerts
	=============
*/
 .alert{padding:15px 15px; margin-bottom: 1rem; border-radius:10px; overflow:hidden;}
 .alert svg, .alert img{vertical-align:middle; margin-right:15px;}
 .alert button{background:none; opacity:0.2; cursor:pointer;}
 .alert-success{background:#e7faec; color:#2bc155;}
 .alert-warning{background:#fff6e6; color:#df8a4b;}
 .alert-error{background:#fee6ea; color:#f72b50;}
 .alert-info{background:#f0f6fc; color:#2781d5;}


/* 
	=============
	Import file
	=============
*/
.importFile{max-width:700px;}
.importFile .dropArea{
	border:2px dashed #ccc;	border-radius:6px;
	display:grid; grid-template-columns:42% 56%; grid-column-gap:2%;
	align-items: center;
}
.importFile .dropArea input{
	position:absolute;
	top:0px; left:0px;
	z-index:10;
	width:100%; height:100%;
	opacity:0;
	cursor:pointer;
}
.importFile .dropArea .elementMob{
	text-align:center;
	border-right:1px solid #eae9e9;
	margin:18px 0px;
}
.importFile .dropArea .elementMob h5{font-size:16px; font-weight:500; padding-top:10px;}
.importFile .dropArea .elementMob p{
	font-size:16px; font-weight:300;
	color:#cccccc;
	padding:10px 0px;
}
 
/* uploded file priview */
.dropPreview{
	display:grid; grid-template-columns:20% 66%; grid-column-gap:4%;
	border:2px solid #38d5a6;
	padding:15px; margin-top:15px;
	align-items:center;
	border-radius:6px;
}
.extExcelDiv img{vertical-align:top; width:100%;}
.dropPreview .fileName span{font-size:15px; display:block;}
.dropPreview a{font-size:13px; padding-top:5px;}	
